<!DOCTYPE html>
<html>
<head>

<title>CodeMentor</title>

<link rel="stylesheet" href="/static/style.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.43.0/min/vs/loader.min.js"></script>

</head>


<body>

<div class="sidebar">

<h2>🚀 CodeMentor</h2>

<a href="#" onclick="showPage('dashboard')">Dashboard</a>
<a href="#" onclick="showPage('practice')">Practice</a>
<a href="#" onclick="showPage('history')">History</a>

</div>


<div class="main">


<!-- DASHBOARD -->

<div id="dashboard" class="page">

<h1>Dashboard</h1>

<div class="card">
<h3>{{ total_submissions }}</h3>
<p>Total Submissions</p>
</div>

<div class="card">
<h3>Practice</h3>
<p>Start Coding</p>
</div>

</div>



<!-- PRACTICE -->

<div id="practice" class="page" style="display:none;">

<h1>{{ problem.title }}</h1>

<p><strong>Difficulty:</strong> {{ problem.difficulty }}</p>

<p>{{ problem.description }}</p>

<form method="POST" action="/submit">

<div id="editor" style="height:350px;border:1px solid #ccc;"></div>

<input type="hidden" name="code" id="code">

<br><br>

<input type="number" name="duration" placeholder="Time taken">

<br><br>

<button type="button" onclick="runCode()">Run Code</button>

<button type="submit" onclick="saveCode()">Submit Code</button>

</form>


<div id="output" style="margin-top:20px;background:#111;color:#fff;padding:10px;border-radius:6px;">
Output will appear here
</div>

</div>



<!-- HISTORY -->

<div id="history" class="page" style="display:none;">

<h1>Submission History</h1>

<table>

<tr>
<th>ID</th>
<th>Code</th>
</tr>

{% for sub in submissions %}

<tr>
<td>{{ sub[0] }}</td>
<td>{{ sub[1] }}</td>
</tr>

{% endfor %}

</table>

</div>


</div>



<script>

function showPage(page){

let pages=document.getElementsByClassName("page");

for(let i=0;i<pages.length;i++){

pages[i].style.display="none";

}

document.getElementById(page).style.display="block";

}

</script>



<script>

require.config({
paths:{vs:'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.43.0/min/vs'}
});

require(["vs/editor/editor.main"],function(){

window.editor=monaco.editor.create(document.getElementById("editor"),{

value:"def find_max(arr):\n    # write your code here\n    pass",

language:"python",

theme:"vs-dark",

automaticLayout:true

});

});


function saveCode(){

document.getElementById("code").value=editor.getValue();

}


function runCode(){

let code = editor.getValue();

fetch("/run", {

method:"POST",

headers:{
"Content-Type":"application/x-www-form-urlencoded"
},

body:"code="+encodeURIComponent(code)

})

.then(response=>response.text())

.then(data=>{

document.getElementById("output").innerText="Output: "+data;

});

}

</script>


</body>
</html>