<!DOCTYPE html>
<html>
<head>
<title>Leaderboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>🏆 Leaderboard</h1>

<table border="1" cellpadding="10">

<tr>
<th>Username</th>
<th>Submissions</th>
</tr>

{% for user in leaderboard %}

<tr>
<td>{{ user[0] }}</td>
<td>{{ user[1] }}</td>
</tr>

{% endfor %}

</table>
<table>
<tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Score</th>
</tr>

{% for row in data %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>